{
    "root": true,
    "env": {
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json"
    },
    "extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
    "rules": {
        "@typescript-eslint/consistent-type-imports": ["error", {
            "prefer": "type-imports",
            "fixStyle": "inline-type-imports"
        }],
        "@typescript-eslint/lines-between-class-members": "off",
        "import/extensions": ["error", "ignorePackages"],
        "import/no-commonjs": "error",
        "import/prefer-default-export": "off",
        "lines-between-class-members": "off"
    }
}
